@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Base html */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../img/BackgroundPaws.png");
    background-repeat: repeat;
}

/* Clases generales */
.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "header"
    "productos"
    "contacto"
    "mapa"
    "footer";
}

.orden{
    background-color: rgb(170, 164, 164);
    text-align: center;
    border-radius: 5px;
    border: double 2px black;
    padding: 20px;
    margin: 10px;
}

    .orden p{
        margin-bottom: 15px;
    }

    .orden img{
        border-radius: 5px;
        width: 39%;
    }

/* ID's elementos */
#mainNav{
    grid-area: nav;
}

#header{
    grid-area: header;
}

#productos{
    grid-area: productos;
}

#contacto{
    grid-area: contacto;
}

#mapa{
    grid-area: mapa;
}

#footer{
    grid-area: footer;
}

/* Estilos para NavBar */
.navBar {
    background-color: rgb(247, 176, 200);
    position: sticky;
    top: 0;
    left: 0;
    padding: 4px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .navBar img {
        width: 250px;
        margin-bottom: 5px;
    }

    .navBar ul {
        display: flex;
    }

        .navBar ul li {
            list-style: none;
            margin: 0 10px;
        }

            .navBar ul li a {
                color: black;
                text-decoration: none;
                font-size: 0.7rem;
                font-weight: 500;
            }

            .navBar ul li a:hover {
                font-weight: 800;
            }

/* Estilos para encabezado */
header img {
    width: 100%;
}

/* Estilos para seccion de productos */
#productos .galeria{
    margin: 20px 0;
}

#productos .title{
    background-color: white;
    text-align: center;
    border-radius: 40px;
    border: double 2px black;
    padding: 5px;
    margin: 5px;
}

    #productos .galeria figure{
        margin: 10px 0;
    }

        #productos .galeria figure img{
            border-radius: 5px;
            width: 100%;
        }

        #productos .galeria figure figcaption{
            font-size: 1rem;
            padding: 10px 0;
            background-color: white;
            text-align: center;
        }

		#productos .galeria p{
			color: #676565;
			padding-bottom: 10px;
			background-color: white;
			text-align: center;
		}


/* Estilos para seccion de contacto */
#contacto{
    margin-bottom: 10px;
    padding: 10px;
}

#contacto .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 184, 184);
    border-radius: 40px;
    border: double 2px black
}

#contacto .title{
    text-align: center;
    margin-bottom: 6px;
}

    #contacto .form input{
        margin-bottom: 6px;
    }

    #contacto .form textarea{
        margin-bottom: 6px;
    }

/* Estilos para seccion de mapa */
#mapa{
    padding: 10px;
}

#mapa .mapaFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 190, 190);
    border-radius: 40px;
    border: double 2px black
}

#mapa .title{
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos para pie */
.pie{
    padding-top:30px;
    padding-bottom:30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
    background-color: rgb(247, 176, 200);

    position: static;
    bottom: 0;
    width: 100%;
}

.pieText{
    font-size: 1.2rem;
    font-weight: 500;
}

    .pie a{
        text-decoration: none;
    }

    .pie a img{
        width: 30px;
    }

/*========= media queries ==========*/
@media (min-width: 768px) {
    .contenedor{
        grid-template-columns: 50vw 40vw;
        grid-template-areas: 
        "nav nav"
        "header header"
        "productos productos"
        "mapa contacto"
        "footer footer";
        justify-content: space-between;
        align-items: center;
    }

        .navBar ul li a {
            font-size: 1rem;
        }


    #productos .galeria{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #productos .galeria figure{
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .contenedor{
        grid-template-columns: 50vw 40vw;
        grid-template-areas: 
        "nav nav"
        "header header"
        "productos productos"
        "contacto mapa"
        "footer footer";
        justify-content: space-between;
        align-items: center;
    }

    #productos .galeria figure{
        width: 50%;
    }

    .navBar{
        flex-direction: row;
        justify-content: space-between;
    }

    .navBar img {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    #productos .galeria{
        flex-direction: row;
        justify-content: space-between;
    }

    #productos .galeria figure{
        width: 50%;
        margin: 5px;
    }
}