// ==== cosas comunes a todo el proyecto ==== //
* {
    padding: 0;
    margin: 0;
    font-family: $mainFont;
}

body {
    background-image: url("../img/BackgroundPaws.png");
    background-repeat: repeat;
}

.bg-pink{
    background-color: map-get($map: $colores, $key: 'pink');
}

.bg-softpink{
    background-color: map-get($map: $colores, $key: 'soft-pink');
}

.bg-violet{
    background-color: map-get($map: $colores, $key: 'soft-violet');
}

.btn-pink{
    background-color: map-get($map: $colores, $key: 'deep-pink');
    color: map-get($map: $colores, $key: 'white');
}

.btn-redpink{
    background-color: map-get($map: $colores, $key: 'red-pink');
    color: map-get($map: $colores, $key: 'white');
}

.btn-redpink:hover{
    color: map-get($map: $colores, $key: 'grey');
}

/* Extend */
.btn-base{
    background-color: map-get($map: $colores, $key: 'soft-pink');
    padding: 6px;
    font-size: $textLg;
    &:hover{
        background-color: map-get($map: $colores, $key: 'pink');
        font-weight: $bold;
    }
}

.btn-rounded{
    @extend .btn-base;
    border-radius: 4px;
    border: 2px double;
}

/* Mixins */
.orden-parrafo{
    @include parrafo($textMd, $normal, map-get($map: $colores, $key: 'black'), map-get($map: $colores, $key: 'violet'))
}

/* Keyframes en página Nosotros */
@keyframes animacion{
    0%{background-image: url(../img/pugFeliz.svg);}
    50%{background-image: url(../img/gatoFeliz.svg);}
    100%{background-image: url(../img/bulldogFeliz.svg);}
}

.animaciones{
    height: 60vh;
    animation-name: animacion;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background-size: cover;
    animation-timing-function: ease-out;
}