// ==== fonts ==== //
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
$mainFont: 'Roboto', sans-serif;

// ==== font sizing ==== //
$textSm: .8em;
$textMd: 1em;
$textLg: 1.5em;
$textXL: 2em;

// ==== fonts weight ==== //
$bold: 800;
$normal: 400;
$light: 300;