// ==== variables globales ==== //
$mainColor: rgb(247, 176, 200);
$softMain: rgba(247, 176, 200, .8);      //softpink
$secondaryColor: rgb(238, 188, 247);            //violet
$softSeconadryColor: rgba(238, 188, 247, .8);    //softviolet
$keyColor: rgb(255, 94, 148);
$dangerColor: rgb(255, 2, 87);      //redpink
$white: white;
$grey: rgb(194, 194, 194);
$black:black;
