<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO -->
    <title>¿Quienes Somos? - Happy Paws</title>
    <meta name="description" content="Te contamos un poco quienes somos y qué queremos lograr dentro de Happy Paws">
    <meta name="keywords" content="nosotros, amigos, mascotas, amor, diversión">
    <meta name="author" content="Matias Barisone">


    <link rel="shortcut icon" href="../img/favicon.png">
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- MY CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<!-- BODY -->

<body>

    <!-- NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-pink sticky-top" id="botonera">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/Logo.svg" class="img-fluid" alt="Logo de Happy paws - El lugar de tus mascotas ">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item lista-animada">
                        <a class="nav-link active" href="../views/productos.html">Productos</a>
                    </li>
                    <li class="nav-item lista-animada">
                        <a class="nav-link active" href="../views/promociones.html">Promociones</a>
                    </li>
                    <li class="nav-item lista-animada">
                        <a class="nav-link active" href="../views/nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item lista-animada">
                        <a class="nav-link active" href="../views/contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <!-- SECCION NOSOTROS -->
        <section>
            <div class="container-fluid">
                <div class="row text-center">
                    <h1 class="bg-softpink fw-bold py-2 m-0">¿Quienes somos?</h1>
                </div>
                <div class="row bg-softviolet py-2 align-items-center justify-content-center">
                    <article class="col-12 col-lg-5">
                        <p class="orden-parrafo text-center">Bienvenidos a Happy Paws la tienda online preferida de tus mascotas.
                        </p>
                        <p class="orden-parrafo">Somos una empresa que se fundó con una idea en mente, poder ayudar y
                            dar mucho amor a nuestras queridas mascotas. Por eso nuestro eslogan, “el lugar de tus
                            mascotas”, porque nosotros queremos que se sientan cómodas y que ellas puedan tener los
                            elementos para una vida más divertida y sana.</p>
                        <p class="orden-parrafo">Queremos que nuestros pequeños amigos peludos tengan la mejor comodidad y el
                            mejor trato posible. Por eso te invitamos a que pases por nuestra página!! Donde podrás
                            observar todas las cosas disponibles. Dentro de poco tendremos más elementos para que tus
                            mascotas puedan disfrutar aun más!! </p>
                    </article>
                    <article class="col-12 col-lg-5 text-center">
                        <img src="../img/pugFeliz.svg" class="img-fluid p-5"
                            alt="foto de perro raza pug, feliz y sonriendo">
                    </article>
                    <article class="col-7 text-center">
                        <h2 class="fw-normal py-2">¡Encontranos en nuestra sucursal!</h2>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26269.769176271322!2d-58.497591143854315!3d-34.61121219687287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9c29639d769%3A0x28098a82e56d4110!2sCamarones%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1653869819378!5m2!1ses-419!2sar"
                            width="70%" height="auto" style="border: double 2px black; margin-bottom: 10px;"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </article>
                </div>
            </div>
        </section>
    </main>


    <!-- FOOTER -->
    <footer id="footer" class="bg-pink py-4">
        <div class="container-fluid">
            <div class="row">
                <article class="col-12 col-lg-4 border-footer pt-2">
                    <h5 class="text-center">Seguinos en nuestras redes sociales:</h5>
                    <div class="px-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="no-decoration d-flex align-items-center" href="https://www.facebook.com/">
                                    <img src="../img/Facebook.svg" class="me-2" alt="Enlace a Facebook">
                                    <h6 class="text-center text-dark pt-2 ">Facebook de Happy Paws</h6>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="no-decoration d-flex align-items-center" href="https://www.twitter.com/">
                                    <img src="../img/Twitter.svg" class="me-2" alt="Enlace a Twitter">
                                    <h6 class="text-center text-dark pt-2">Twitter de Happy Paws</h6>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="no-decoration d-flex align-items-center" href="https://www.instagram.com/">
                                    <img src="../img/Instagram.svg" class="me-2" alt="Enlace a Instagram">
                                    <h6 class="text-center text-dark pt-2">Instagram de Happy Paws</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="col-12 col-lg-4 border-footer pt-2">
                    <h5 class="text-center">Contactanos:</h5>
                    <div class="px-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-center">
                                <img src="../img/Telefono.svg" class="rounded-circle me-2"
                                    alt="Icono de telefono celular">
                                <h6 class="text-center text-dark pt-2">8888-111-6666</h6>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <img src="../img/Mail.svg" class="me-2" alt="Icono de Mail">
                                <h6 class="text-center text-dark pt-2">happypaws@gmail.com</h6>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="col-12 col-lg-4 pt-2">
                    <h5 class="text-center">Seguí navegando:</h5>
                    <div class="px-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="no-decoration d-flex align-items-center justify-content-center"
                                    href="../index.html">
                                    <h6 class="text-center text-dark pt-2">Inicio</h6>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="no-decoration d-flex align-items-center justify-content-center"
                                    href="../views/productos.html">
                                    <h6 class="text-center text-dark pt-2">Productos</h6>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="no-decoration d-flex align-items-center justify-content-center"
                                    href="../views/promociones.html">
                                    <h6 class="text-center text-dark pt-2">Promociones</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="col-12 col-lg-4">
                </article>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
<!-- FIN -->