<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Paws - El lugar de tus mascotas</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<!-- BODY -->

<body>

    <!-- CONTENEDOR -->
    <div class="contenedor">
        <!-- NAV -->
        <nav class="navBar" id="mainNav">
            <a href="../index.html">
                <img src="../img/Logo.svg" alt="Logo de Happy paws - El lugar de tus mascotas ">
            </a>
            <ul>
                <li>
                    <a href="productos.html">Productos</a>
                </li>
                <li>
                    <a href="promociones.html">Promociones</a>
                </li>
                <li>
                    <a href="nosotros.html">Nosotros</a>
                </li>
                <li>
                    <a href="contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>

        <!-- SECCION NOSOTROS -->
        <section id="productos">
            <h2 class="title">Nosotros:</h2>
            <div class="orden">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores error enim possimus non vitae
                    nesciunt, harum id vel, eligendi accusamus architecto quae culpa at quibusdam neque dolorem aliquam
                    rerum nostrum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates, a libero! Optio
                    porro dolor pariatur nisi excepturi! Ipsa praesentium iste distinctio consequuntur sit vero velit,
                    nesciunt accusantium sunt expedita in.</p>
                <img src="../img/pugFeliz.svg" alt="juguete de perro 2, soga para perros">
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="pie" id="footer">
            <h4 class="pieText">Seguinos en nuestras redes sociales:</h4>
            <div>
                <a href="https://www.facebook.com/">
                    <img src="../img/Facebook.svg" alt="Enlace a Facebook">
                </a>
                <a href="https://www.twitter.com/">
                    <img src="../img/Twitter.svg" alt="Enlace a Twitter">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="../img/Instagram.svg" alt="Enlace a Instagram">
                </a>
            </div>
        </footer>
    </div>
</body>

</html>