<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Paws - El lugar de tus mascotas</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<!-- BODY -->

<body>

    <!-- CONTENEDOR -->
    <div class="contenedor">
        <!-- NAV -->
        <nav class="navBar" id="mainNav">
            <a href="../index.html">
                <img src="../img/Logo.svg" alt="Logo de Happy paws - El lugar de tus mascotas ">
            </a>
            <ul>
                <li>
                    <a href="productos.html">Productos</a>
                </li>
                <li>
                    <a href="promociones.html">Promociones</a>
                </li>
                <li>
                    <a href="nosotros.html">Nosotros</a>
                </li>
                <li>
                    <a href="contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>

        <!-- SECCION PRODUCTOS EN PROMOCION -->
        <section id="productos">
            <h2 class="title">Productos en promoción:</h2>
            <div class="galeria">
                <figure>
                    <img src="../img/juguete4.svg" alt="pelota rellenable">
                    <figcaption>Pelota rellenable</figcaption>
                    <p><del>$1.700,00</del> <strong>$850,00</strong></p>
                </figure>
                <figure>
                    <img src="../img/juguete2.svg" alt="juguete de perro 2, pelota de tenis">
                    <figcaption>Pelota de tenis para perros</figcaption>
                    <p><del>$1.200,00</del> <strong>$600,00</strong></p>
                </figure>
                <figure>
                    <img src="../img/descuento.svg" alt="50% OFF">
                </figure>
            </div>
        </section>



        <!-- FOOTER -->
        <footer class="pie" id="footer">
            <h4 class="pieText">Seguinos en nuestras redes sociales:</h4>
            <div>
                <a href="https://www.facebook.com/">
                    <img src="../img/Facebook.svg" alt="Enlace a Facebook">
                </a>
                <a href="https://www.twitter.com/">
                    <img src="../img/Twitter.svg" alt="Enlace a Twitter">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="../img/Instagram.svg" alt="Enlace a Instagram">
                </a>
            </div>
        </footer>
    </div>
</body>

</html>